.flex-all-centre {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
.my-1{
    margin: 5px auto;
    text-decoration: none;
 
 }
.my-2{
    margin: 26px auto;
    }
  .text-centre{
    text-align: center;
    text-decoration: none;
  }
 